html{
  background-color: black;
}
body{
  background-color:black;
  margin: 0;
}

header{
  height: 100px;
  line-height: 100px;
  background-color:brown;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 2.3em;
  margin: 0;
  width: 100%;
}

.main{
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: url('img/バックグラウンド.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  /* position: relative; */
}

.main::before{
  position: absolute;
  background: inherit;
  content: '';
  filter: blur(5px);
}

#count{
  text-align: center;
  line-height: 5px;
  background-color:black;
  width: 60px;
  height: 50px;
  border-color: #fff;
  border-style: solid;
  border-radius: 50%;
  margin: auto;
}

#time{
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding-top: 5px;
}

.demo{
  width: auto;
  height: 130px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.mainimg{
  margin: auto;
  height: auto;
  width: 300px;
  margin-top: 20px;
}

#img{
  width: 300px;
  height: 200px;
  border-style: double;
}

#wrap{
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  text-align: center;
}

#Explanation{
  color: brown;
  font-weight:bold;
  font-size: 1.7em;
}

#syutugen{
  color: crimson;
  font-size: 2.3em;
  font-weight: bold;
}

#textname{
  color: crimson;
  font-size: 2.3em;
  font-weight: bold;
}

#HP{
  text-align: center;
  line-height: 50px;
  height: 50px;
  width: 500px;
  background-color:darkgrey;
  font-size: 1.0em;
  font-weight: bold;
  margin: auto;
  color:#fff;
}

#wraps{
  margin: 0;
  height: 300px;
  width: 100%;
  text-align: center;
}

#Text{
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

#webcam-box{
  margin-top: 20px;
}

#start{
  border: 3px solid;
  background-color: brown;
  height: 50px;
  width: 100px;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: 0.4s;
}

#start:hover{
  background-color: beige;
  color: darkgray;
}

#end{
  border: 3px solid;
  background-color: brown;
  height: 50px;
  width: 100px;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 70px;
  transition: 0.4s;
}

#end:hover{
  background-color: beige;
  color: darkgray;
}

.End{
  display: none;
}

#percen{
  display: none;
  color: #fff;
}

#percent{
  color: #fff;
}

/* footer{
  background-color: darkgrey;
  text-align: center;
  height: 100px;
  line-height: 100px;
  margin-top: -20px;
} */

@media screen and (min-width:376px) and (max-width:566px) {
  .main{
    width: 100%;
    height: 100%;
    background-size: auto;
    background-repeat: round;
  }
  
  #HP{
    width: 365px;
    font-size: 0.3em;
  }

  header{
    font-size: 0.8em;
    height: 50px;
    line-height: 50px;
  }

  #Explanation{
    font-size: 0.9em;
  }

}

@media screen and (max-width:375px) {
  .main{
    width: 100%;
    height: 100%;
    background-size: auto;
    background-repeat: round;
  }

  #HP{
    width: 250px;
    font-size: 0.3em;
  }

  header{
    font-size: 0.3em;
    height: 50px;
    line-height: 50px;
  }

  .img{
    height: 150px;
    width: 150%;
  }

  #Explanation{
    font-size: 0.7em;
  }

  #Text{
    font-size: 0.3em;
  }

  #percent{
    font-size: 0.3em;
  }

  .main{
    background-size:contain;
}
}